body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6d380c;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.construction-message {
    text-align: center;
    margin-bottom: 30px;
}

.back-to-top {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #6d380c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.back-to-top:hover {
    background-color: #555;
}

footer {
    background-color: #6d380c;
    color: #fff;
    padding: 20px 0;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer p {
    margin: 0;
    text-align: center;
}
